* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For Scroll bar Customization */

html {
  --scrollbarBG: #e8eaf6;
  --thumbBG: #d32f2f;
}

body::-webkit-scrollbar {
  width: 13px;
}

body {
  width: 100%;
  height: 100vh;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.scrolled {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: saturate(180%) blur(5px);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  transition: all 0.3s ease-in-out;
  box-shadow: rgb(0 0 0 / 10%) 0px 3px 20px;
  z-index: 899 !important;
}

/* For Swiper Slide Customization */
.swiper-container {
  width: 100%;
  height: 100%;
}

/* Center slide text vertically */
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Swiper Navigation & Pagination */

.swiper-pagination-bullet-active {
  background-color: #f44336 !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f44336 !important;
  top: 82% !important;
  background-color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 18px !important;
  font-weight: bold;
}
